
<div>
    <h1>BENEATH THESE STREETS</h1>
    <ul>SPECIAL TOPPINGS
        <li>GRANOLA</li>
        <li>LICORICE</li>
    </ul>

    <h1>ATTACK OF THE 50-FOOT IRMA</h1>
    <ul>SPECIAL TOPPINGS
        <li>CHOCOLATE FUDGE</li>
        <li>EXTRA GARLIC</li>
    </ul>

    <h1>APRIL FOOL</h1>
    <ul>SPECIAL TOPPINGS
        <li>MARSHALLOWS</li>
        <li>PEPPERONI</li>
    </ul>

    <h1>GREEN WITH JEALOUSY</h1>
    <ul>SPECIAL TOPPINGS
        <li>CLAMS</li>
        <li>PEANUT BUTTER</li>
    </ul>

    <h1>PIZZA BY THE SHRED</h1>
    <ul>SPECIAL TOPPINGS
        <li>PEANUT BUTTER</li>
        <li>AVOCADO</li>
        <li>EXTRA PICKLES</li>
    </ul>

    <h1>SUPER BEBOP AND MIGHTY ROCKSTEADY</h1>
    <ul>SPECIAL TOPPINGS
        <li>MARSHALLOWS</li>
        <li>ASPARAGUS</li>
    </ul>

    <h1>CASE OF THE HOT HIMONO</h1>
    <ul>SPECIAL TOPPINGS
        <li>BUTTERSCOTCH</li>
        <li>ONIONS</li>
        <li>ANCHOVIES</li>
    </ul>

    <h1>THE MAKING OF METALHEAD</h1>
    <ul>SPECIAL TOPPINGS
        <li>TOAST</li>
        <li>TEA</li>
    </ul>

    <!-- <h1>LEATHERHEAD MEETS THE RAT KING</h1>
    <ul>SPECIAL TOPPINGS
        <li>CHOCOLATE SPRINKLES</li>
        <li>CLAM SAUCE</li>
    </ul>

    <h1>THE GANG'S ALL HERE</h1>
    <ul>SPECIAL TOPPINGS
        <li>CHOCOLATE CHIPS</li>
    </ul>

    <h1>THE BIG BLOW OUT</h1>
    <ul>SPECIAL TOPPINGS
        <li>HOT FUDGE</li>
        <li>PEPPERONI</li>
    </ul>

    <h1>SUPERHERO FOR A DAY</h1>
    <ul>SPECIAL TOPPINGS
        <li>EXTRA PICKLES</li>
        <li>PEPPERONI</li>
    </ul>

    <h1>SLASH: THE EVIL TURTLE FROM DIMENSION X</h1>
    <ul>SPECIAL TOPPINGS
        <li>SAUSAGE</li>
        <li>JELLY BEANS</li>
    </ul>

    <h1>FUNNY, THEY SHRUNK MICHELANGELO</h1>
    <ul>SPECIAL TOPPINGS
        <li>PEPPERONI</li>
        <li>PEANUT BUTTER</li>
        <li>DOUBLE YOGURT TOPPING</li>
    </ul>

    <h1>LEONARDO VS. TEMPESTRA</h1>
    <ul>SPECIAL TOPPINGS
        <li>SHREDDED COCONUT</li>
        <li>SWEET PICKLES</li>
    </ul>

    <h1>SPLINTER VANISHES</h1>
    <ul>SPECIAL TOPPINGS
        <li>STRAWBERRIES</li>
        <li>ANCHOVY SAUCE</li>
    </ul>

    <h1>MICHELANGELO MEETS MONDO GECKO</h1>
    <ul>SPECIAL TOPPINGS
        <li>OATMEAL</li>
    </ul>

    <h1>RAPHAEL, TURTLE OF A THOUSAND FACES</h1>
    <ul>SPECIAL TOPPINGS
        <li>PEANUT BUTTER</li>
        <li>TUNA</li>
        <li>GRAPE JELLY</li>
    </ul>

    <h1>SWORD OF YURIKAWA PART 1</h1>
    <ul>SPECIAL TOPPINGS
        <li>GUACAMOLE</li>
        <li>MARSHMALLOWS</li>
    </ul>

    <h1>SWORD OF YURIKAWA PART 2</h1>
    <ul>SPECIAL TOPPINGS
        <li>HOT FUDGE</li>
        <li>ANCHOVIES</li>
    </ul>

    <h1>NIGHTMARE OF THE LAIR</h1>
    <ul>SPECIAL TOPPINGS
        <li>POPCORN</li>
    </ul>

    <h1>DONATELLO TRASHES SLASH</h1>
    <ul>SPECIAL TOPPINGS
        <li>CHOCOLATE FUDGE</li>
        <li>SARDINES</li>
        <li>CHILI PEPPER</li>
        <li>WHIPPED CREAM</li>
    </ul>

    <h1>SNAKES ALIVE</h1>
    <ul>SPECIAL TOPPINGS
        <li>ANCHOVIES</li>
        <li>BANANAS</li>
    </ul>

    <h1>TURTLES ON THE ORIENT EXPRESS</h1>
    <ul>SPECIAL TOPPINGS
        <li>GOULASH</li>
    </ul>-->

</div>
